{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Corporate - {{ user.first_name }}{% endblock title %}
{% block content %}

        <!-- <nav class="navbar navbar-inverse" style="background-color: rgb(52, 74, 113);">
            <div class="container-fluid"> -->
   <!--  <div class="navbar-header">
      <a class="navbar-brand" href="#">Hilter</a>
    </div> -->
   <!--  <ul class="nav navbar-nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
</nav> -->
</br> </br>
         <!-- ABOUT -->
         <div>
        <section class="section-home-about bg-white">
            <div class="container">
                <div class="home-about">
                    <div class="row">
                       
                        <div class="col-md-6" style="text-align: center;">
                            <div class="text">
                                <h2 class="heading">Venue <h2>
                               <p>Click here to register your Venue</p>
                               <img src=' {% static "images/images.png" %} ' alt="" style="height: 200px; width: 200px"></a></br>
                                
                                <a href="reg2v.html" class="awe-btn awe-btn-default">Register</a>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="img">
                                <a href="#"><img src=' {% static "images/img-2.jpg" %}' alt="" style="height: 350px; width: 700px"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END / ABOUT -->
          <!-- ABOUT -->
        <section class="section-home-about bg-white">
            <div class="container">
                <div class="home-about">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img">
                                <a href="#"><img src=' {% static "images/img-1.jpg" %}' alt="" style="height: 350px; width: 700px"></a>
                            </div>
                        </div>
                        <div class="col-md-6" style="text-align: center;">
                            <div class="text">
                                <h2 class="heading">Clubbing</h2>
                               <p>Click here to register your Clubs</p>
                               <img src=' {% static "images/images2.png" %} ' alt="" style="height: 200px; width: 200px"></a></br>
                                <a href="reg2c.html" class="awe-btn awe-btn-default">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END / ABOUT -->
          <!-- ABOUT -->
        <section class="section-home-about bg-white">
            <div class="container">
                <div class="home-about">
                    <div class="row">
                       
                        <div class="col-md-6" style="text-align: center;">
                            <div class="text">
                                <h2 class="heading">Marriage</h2>
                               <p>Click here to register your Marriage</p>
                               <img src=' {% static "images/images3.png" %} ' alt="" style="height: 200px; width: 200px"></a></br>
                                <a href="reg2m.html" class="awe-btn awe-btn-default">Register</a>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="img">
                                <a href="#"><img src=' {% static "images/img-3.jpg" %}' alt="" style="height: 350px; width: 700px"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END / ABOUT -->
          <!-- ABOUT -->
        <section class="section-home-about bg-white">
            <div class="container">
                <div class="home-about">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img">
                                <a href="#"><img src=' {% static "images/img-4.jpg" %}' alt="" style="height: 350px; width: 700px"></a>
                            </div>
                        </div>
                        <div class="col-md-6" style="text-align: center;">
                            <div class="text">
                                <h2 class="heading">Party</h2>
                               <p>CLick here to register your party hall</p>
                               <img src=' {% static "images/images4.png" %} ' alt="" style="height: 200px; width: 200px"></a></br>
                                <a href="reg2p.html" class="awe-btn awe-btn-default">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> </br>
        <!-- END / ABOUT -->
        </div>

        <!-- FOOTER -->
        {% endblock content %}