{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register Your Club{% endblock title %}
{% block content %}

        <!-- ACCOUNT -->
        <section class="section-account parallax bg-11" >
            <div class="awe-overlay"></div>
            <div class="container" >
                <div class="login-register" >
<div class="container" style="background-image: url(bg.jpg);height: 900px;border-radius: 50px " >
    <div class="row" style="text-align: center;">
        <h2>Upload your images and Select Services</h2></br>
        <h4>Step-3</h4>
    </div>
    </br></br>
</br>    
    <form id="defaultForm" method="post" class="form-horizontal" action="" >
                   {% csrf_token %}                     <!-- Bootstrap Upload Control - START -->
<div class="container"  >
<div class="col-md-2"></div>
<label class="col-lg-3 control-label" style="font-size: 30px">Upload Images Of Your Venue</label>
    <div class="col-md-4">
       <!--  <form method="post" enctype="multipart/form-data">
            <input type="file" id="files" name="files" multiple="multiple"/>
            <p ></br>
                <input type="submit" value="Upload Files" class="btn btn-md btn-primary" />
            </p>
        </form> -->
    </div>
    
</div>

<!-- you need to include the ShieldUI CSS and JS assets in order for the Upload widget to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js" %} '></script>

<script type="text/javascript">
    jQuery(function ($) {
        $("#files").shieldUpload();
    });
</script>
<!-- Bootstrap Upload Control - END -->
</br></br>
  <div class="form-group" >
  <div class="col-md-3"></div>

                            <label class="col-lg-3 control-label" style="font-size: 30px">Entry Type</label>
                            <div class="col-lg-5">
                            <div >
                                <div class="checkbox" style="font-size: 20px">
                                  <span class="     glyphicon glyphicon-menu-left"></span>
                                    <label class="checkbox-inline" for="singlechk">

                                        <input type="checkbox" name="single" id="singlechk" value="Single" onclick="func1(this)" />Single
                                        <input type="text" id="single" disabled="disabled" placeholder="fee/single" name="single_fee"/>
                                    </label>
                                </div>
                                <div class="checkbox" style="font-size: 20px">
                                 <span class="  glyphicon glyphicon-menu-left"></span>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="couple" id="couplechk" value="Couple" onclick="func2(this)" />Couple
                                         <input type="text" id="couple" disabled="disabled" placeholder="fee/couple" name="couple_fee"/>
                                    </label>
                                </div>
                                <script type="text/javascript">
                                      function func1(singlechk) {
                                        var x = document.getElementById("single");
                                        x.disabled = singlechk.checked ? false : true;
                                        if (!x.disabled) {
                                        x.focus();
                                        }
                                    }
                                </script>
                                 <script type="text/javascript">
                                      function func2(couplechk) {
                                        var y = document.getElementById("couple");
                                        y.disabled = couplechk.checked ? false : true;
                                        if (!y.disabled) {
                                        y.focus();
                                        }
                                    }
                                </script>
                               
                            
                           
                                    
                            </div>

                    
                              
                        </div>
                        <div class="col-md-3"></div>

                            <label class="col-lg-3 control-label" style="font-size: 30px">Services</label>
                            <div class="col-lg-5">
                            <div  style=" border-radius: 10px;">
                                <div class="checkbox" style="font-size: 20px">
                                  <span class=" glyphicon glyphicon-cutlery"></span>
                                    <label class="checkbox-inline"  for="ser1">

                                        <input type="checkbox" name="s1" value="Breakfast" id="ser1"  /> Breakfast
                                        
                                        
                                    </label>
                                </div>
                                <div class="checkbox" style="font-size: 20px">
                                  <span class=" glyphicon glyphicon-cutlery"></span>
                                    <label class="checkbox-inline"  for="ser2">

                                        <input type="checkbox" name="s2" value="Lunch" id="ser2"  /> Lunch
                                        
                                    </label>
                                </div>
                                <div class="checkbox" style="font-size: 20px">
                                  <span class=" glyphicon glyphicon-cutlery"></span>
                                    <label class="checkbox-inline"  for="ser1">

                                        <input type="checkbox" name="s3" value="Dinner" id="ser3"  />Dinner
                                       
                                    </label>
                                </div>
                                <div class="checkbox" style="font-size: 20px">
                                  <span class=" glyphicon glyphicon-cutlery"></span>
                                    <label class="checkbox-inline"  for="ser4">

                                        <input type="checkbox" name="s4" value="Drinks" id="ser4"  /> Drinks
                                       
                                    </label>
                                </div>
                                <div class="checkbox" style="font-size: 20px">
                                  <span class=" glyphicon glyphicon-cutlery"></span>
                                    <label class="checkbox-inline"  for="ser5">

                                        <input type="checkbox" name="s5" value="Table" id="ser5"  /> Table Booking
                                       
                                    </label>
                                </div>
                                
                                <h3>Other Services</h3>
                                    <textarea style="height: 50px;width: 400px" >
                             </textarea>
                                </div>

                                </br></br></br>
                                    
                            </div>
                              
                        </div>
                        
                          <div>

                          <div>

 <input type="submit" class="btn btn-lg btn-success"  style="display: block; margin: 0 auto;" value="Confirm Registration"/>
 </div
                        </div>

                    </form>
</div>
<!-- <script type="text/javascript">
$(document).ready(function() {
    // Generate a simple captcha
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    };
    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#defaultForm').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            firstName: {
                group: '.col-lg-4',
                validators: {
                    notEmpty: {
                        message: 'The first name is required and cannot be empty'
                    }
                }
            },
            lastName: {
                group: '.col-lg-4',
                validators: {
                    notEmpty: {
                        message: 'The last name is required and cannot be empty'
                    }
                }
            },
            username: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The username is required and cannot be empty'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The username must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: 'The username can only consist of alphabetical, number, dot and underscore'
                    },
                    remote: {
                        type: 'POST',
                        url: 'remote.php',
                        message: 'The username is not available'
                    },
                    different: {
                        field: 'password,confirmPassword',
                        message: 'The username and password cannot be the same as each other'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and cannot be empty'
                    },
                    identical: {
                        field: 'confirmPassword',
                        message: 'The password and its confirm are not the same'
                    },
                    different: {
                        field: 'username',
                        message: 'The password cannot be the same as username'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    notEmpty: {
                        message: 'The confirm password is required and cannot be empty'
                    },
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    },
                    different: {
                        field: 'username',
                        message: 'The password cannot be the same as username'
                    }
                }
            },
            birthday: {
                validators: {
                     notEmpty: {
                        message: 'The birthday field cannot be empty'
                    },
                    date: {
                        format: 'YYYY/MM/DD',
                        message: 'The birthday is not valid'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: 'The gender is required'
                    }
                }
            },
            'languages[]': {
                validators: {
                    notEmpty: {
                        message: 'Please specify at least one language you can speak'
                    }
                }
            },
            'programs[]': {
                validators: {
                    choice: {
                        min: 2,
                        max: 4,
                        message: 'Please choose 2 - 4 programming languages you are good at'
                    }
                }
            },
            File: {
                validators: {
                    notEmpty: {
                        message: 'Please select value'
                    },
                    file: {
                        extension: 'pdf',
                        type: 'application/pdf',
                        message: 'Please choose a pdf file.'
                    }
                }
            },
             country: {
                validators: {
                    notEmpty: {
                        message: 'The country is required and can\'t be empty'
                    }
                }
            },
            captcha: {
                validators: {
                    callback: {
                        message: 'Wrong answer',
                        callback: function(value, validator) {
                            var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                            return value == sum;
                        }
                    }
                }
            }
        }
    });

    // Validate the form manually
    $('#validateBtn').click(function() {
        $('#defaultForm').bootstrapValidator('validate');
    });

  
});
</script> -->

                    </div>
                </div>
            </div>
        </section>
        <!-- END / ACCOUNT -->
{% endblock content %}