{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
        <!-- END / HEADER -->
        
        <!-- SUB BANNER -->
        <section class="section-sub-banner awe-parallax bg-16">

            <div class="awe-overlay"></div>

            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>Clubs</h2>
                        <p>Find suitable venue for your event and book online.</p>
                    </div>
                </div>

            </div>

        </section>
        <!-- END / SUB BANNER -->
        
        <!-- RESERVATION -->
        <section class="section-reservation-page bg-white">

            <div class="container">
                <div class="reservation-page">
                    
                    <!-- END / STEP -->

                    <div class="row">

                        <!-- SIDEBAR -->
                        <div class="col-md-4 col-lg-3">
                            
                            <div class="reservation-sidebar">
                            
                                <!-- SIDEBAR AVAILBBILITY -->
                                <div class="reservation-sidebar_availability bg-gray">

                                    <!-- HEADING -->
                                    <h2 class="reservation-heading">YOUR RESERVATION</h2>
                                    <!-- END / HEADING -->

                                    <h6 class="check_availability_title">your stay dates</h6>
                                        
                                    <div class="check_availability-field">
                                        <input type="text" class="awe-calendar awe-input" placeholder="Arrive">
                                    </div>
                                    
                                    <div class="check_availability-field">
                                        <input type="text" class="awe-calendar awe-input" placeholder="Depature">
                                    </div>
                                    
                                     <h6 class="check_availability_title">your location</h6> </br> 
                                    <div class="search-container">
                                            <form role="form" action="http://www.venuebookingz.com/venues/index.php" method="get">
                                                <div class="form-group">
                                                    <input type="text" id="city-name" class="form-control input-lg" placeholder="Enter City name" onclick="_gaq.push(['_trackEvent', 'Desktop-Home-Page','Desktop-Locality-Searched','Desktop-Locality-Search-Text-box'])" required />
                                                </div>
                                                 <div class="form-group">
                                                    <input type="text" id="locality-name" class="form-control input-lg" placeholder="Enter locality name" onclick="_gaq.push(['_trackEvent', 'Desktop-Home-Page','Desktop-Locality-Searched','Desktop-Locality-Search-Text-box'])" required />
                                                </div>
                                            </form>
      
                                   </div>
                

                                 <h6 class="check_availability_title">Number of Guests</h6>
                                    
                                      <div class="check_availability-field">
                                        <input type="text" name="Guests"  placeholder="Number of Guests" >
                                    </div>
                                    
                                    <!--     <div class="check_availability_group">
                                    
                                        <span class="label-group">ROOM 1</span>
                                    
                                        <div class="check_availability-field_group">
                                    
                                            <div class="check_availability-field">
                                                <label>Adult</label>
                                                <select class="awe-select">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </div>
                                    
                                            <div class="check_availability-field">
                                                <label>Child</label>
                                                <select class="awe-select">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </div>
                                    
                                        </div>
                                    
                                    </div> 

                                    <div class="check_availability_group">
                                    
                                        <span class="label-group">ROOM 2</span>
                                    
                                        <div class="check_availability-field_group">
                                    
                                            <div class="check_availability-field">
                                                <label>Adult</label>
                                                <select class="awe-select">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </div>
                                    
                                            <div class="check_availability-field">
                                                <label>Child</label>
                                                <select class="awe-select">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </div>
                                    
                                        </div>
                                    
                                    </div> -->

                                </div>
                                <!-- END / SIDEBAR AVAILBBILITY -->

                            </div>

                        </div>
                        <!-- END / SIDEBAR -->
                        
                        <!-- CONTENT -->
                        <div class="col-md-8 col-lg-9">

                            <div class="reservation_content">
                                
                                <!-- RESERVATION ROOM -->
                                <div class="reservation-room">

                                    <!-- ITEM -->
                                    {% for venue in venues %}

                                    <div class="reservation-room_item">

                                        <h2 class="reservation-room_name">{% ifequal ven 'club' %}<a href="{% url 'club:detail' slug=venue.slug %}">{% endifequal %}{% ifequal ven 'marriage' %}<a href="{% url 'marriage:detail' slug=venue.slug %}">{% endifequal %}{% ifequal ven 'venue' %}<a href="{% url 'venue:detail' slug=venue.slug %}">{% endifequal %}{% ifequal ven 'party' %}<a href="{% url 'party:detail' slug=venue.slug %}">{% endifequal %} {{ venue.club_name }}</a></h2>

                                        <div class="reservation-room_img">
                                            {% ifequal ven 'club' %}<a href="{% url 'club:detail' slug=venue.slug %}">{% endifequal %}{% ifequal ven 'marriage' %}<a href="{% url 'marriage:detail' slug=venue.slug %}">{% endifequal %}{% ifequal ven 'venue' %}<a href="{% url 'venue:detail' slug=venue.slug %}">{% endifequal %}{% ifequal ven 'party' %}<a href="{% url 'party:detail' slug=venue.slug %}">{% endifequal %}<img src=' {% static "images/reservation/img-1.jpg" %} ' alt=""></a>
                                        </div>

                                        <div class="reservation-room_text">

                                            <div class="reservation-room_desc">
                                                <p>{{ venue.description|truncatechars:200 }}</p>
                                                <ul>
                                                    <li>1 King Bed</li>
                                                    <li>Free Wi-Fi in all guest rooms</li>
                                                    <li>Separate sitting area</li>
                                                     
                                                </ul>
                                            </div>
                                            {% ifequal ven 'club' %}<a href="{% url 'club:detail' slug=venue.slug %}" class="reservation-room_view-more">{% endifequal %}{% ifequal ven 'marriage' %}<a href="{% url 'marriage:detail' slug=venue.slug %}" class="reservation-room_view-more">{% endifequal %}{% ifequal ven 'venue' %}<a href="{% url 'venue:detail' slug=venue.slug %}" class="reservation-room_view-more">{% endifequal %}{% ifequal ven 'party' %}<a href="{% url 'party:detail' slug=venue.slug %}" class="reservation-room_view-more">{% endifequal %}
                                           <!--  <a href="room-detail.html" class="reservation-room_view-more"> -->View More Infomation</a>

                                            <div class="clear"></div>

                                            <a href="/clubs/{{ venue.slug }}/" class="awe-btn awe-btn-default">BOOK NOW</a>

                                        </div>

                                        <div class="reservation-room_package">

                                            <a data-toggle="collapse" href="#reservation-room_package-1" class="reservation-room_package-more collapsed" >Show more package</a>

                                            <div class="reservation-room_package-content collapse" id="reservation-room_package-1">

                                                <!-- ITEM PACKAGE -->
                                                <div class="reservation-package_item">

                                                    <div class="reservation-package_img">
                                                        <a href="#"><img src=' {% static "images/reservation/package/img-1.jpg" %} ' alt=""></a>
                                                    </div>

                                                    <div class="reservation-package_text">

                                                        <h4><a href="#">package standar</a></h4>
                                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>

                                                        <div class="reservation-package_book-price">
                                                            <p class="reservation-package_price">
                                                                <span class="amout">$260</span>
                                                            </p>
                                                            <a href="#" class="awe-btn awe-btn-default">Book package</a>
                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- END / ITEM PACKAGE -->

                                                <!-- ITEM PACKAGE -->
                                                <div class="reservation-package_item">

                                                    <div class="reservation-package_img">
                                                        <a href="#"><img src=' {% static "images/reservation/package/img-1.jpg" %} ' alt=""></a>
                                                    </div>

                                                    <div class="reservation-package_text">

                                                        <h4><a href="#">package standar</a></h4>
                                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>

                                                        <div class="reservation-package_book-price">
                                                            <p class="reservation-package_price">
                                                                <span class="amout">$260</span>
                                                            </p>
                                                            <a href="#" class="awe-btn awe-btn-default">Book package</a>
                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- END / ITEM PACKAGE -->

                                                <!-- ITEM PACKAGE -->
                                                <div class="reservation-package_item">

                                                    <div class="reservation-package_img">
                                                        <a href="#"><img src=' {% static "images/reservation/package/img-1.jpg" %} ' alt=""></a>
                                                    </div>

                                                    <div class="reservation-package_text">

                                                        <h4><a href="#">package standar</a></h4>
                                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>

                                                        <div class="reservation-package_book-price">
                                                            <p class="reservation-package_price">
                                                                <span class="amout">$260</span>
                                                            </p>
                                                            <a href="#" class="awe-btn awe-btn-default">Book package</a>
                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- END / ITEM PACKAGE -->

                                            </div>

                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- END / RESERVATION ROOM -->

                            </div>

                        </div>
                        <!-- END / CONTENT -->
                        
                    </div>
                </div>
            </div>

        </section>
        <!-- END / RESERVATION -->
        
  {% endblock content %}